body {
  font-family: 'Montserrat', sans-serif;
  margin: 0; }

p {
  font-size: 1em; }

.wrapper {
  width: 100%; }

.summaryrow {
  font-weight: bold; }

.cointable {
  width: 100%; }
  .cointable td {
    text-align: center; }

.content {
  padding: 5px; }

.footer {
  padding: 10px;
  text-align: center;
  width: 100%;
  margin-top: 100px;
  background-color: #d0d0d0; }

.charttypecontrols {
  padding: 10px; }
  .charttypecontrols button {
    padding: 5px;
    border-radius: 5px;
    border: 0;
    background-color: black;
    color: white;
    font-size: 1em;
    cursor: pointer; }
    .charttypecontrols button img {
      width: 15px; }

#container {
  width: 100%;
  height: 400px;
  margin: 2em auto; }

table {
  border-spacing: 0px 5px; }
  table tr:nth-child(2) td {
    background-color: #f4f4f4; }

@media (min-width: 600px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto; } }
